.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#central_image {
    float: right;
}

body {
    background-image: linear-gradient(to bottom, rgba(125, 126, 128), rgba(240, 247, 247));
    font-family: 'Trebuchet MS', sans-serif;
}
p.scl_links { 
  word-spacing: 40px;
}
/*
a:not(:last-of-type) {
  margin-right: 10px;
}
*/
/*
body {
  
}
*/
/*
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
